main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div h2 {
    margin: 0px 0 10px 0;
}

form input {
    margin: 15px 0 15px 0;
    padding: 3px;
}

.login button {
    margin: 2% 0 2% 0;
    padding: 1%;
    background-color: var(--orange-web);
    border: none;
    border-radius: 4%;
}

.login button:hover {
    opacity: 0.8;
}


.login p {
    margin-bottom: 15px;
}